doctype html
html 
  head
    link(rel="stylesheet" href='../css/reactMotion.css')

  body
    div#app
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-with-addons.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js')
    script(src='https://unpkg.com/react-motion@0.5.0/build/react-motion.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
    script(src='../js/common.js')
    
